body{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: rgb(55, 63, 81);
	margin: 0;
	margin-top: 0;
}

.split{
	height:100%;
	width: 47%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
}

.left{
	left: 0%;
	background-color: rgb(55, 63, 81);
}

.right{
	padding-top: 2vw;
	right: 0%;
	background-color: white;
	align-content: center;
}

.right button{
	margin-left: 4vw;
	margin-top: 3vw;
	height: 19vw;
	width: 32vw;

	max-height: 140px;
	max-width: 280px;

	text-align: center;
	color: white;
	background-color: rgb(0, 122, 237);
	box-shadow: 0.5vw 0.5vw rgb(0, 101, 196);

	font-size: 3.5vw;
}

.left button{
	margin-top: 50px;

	height: 19vw;
	width: 32vw;
	max-height: 140px;
	max-width: 280px;
	
	color: white;
	background-color: rgb(245, 100, 118);
	box-shadow: 0.5vw 0.5vw rgb(228, 63, 111);

	font-size: 3.5vw;
}

h1{
	font-size: 7vw;
}

.left h2{
	font-size: 5.5vw;
	margin-bottom: 5%;
}

.left h5{
	font-size: 4vw;
	margin-top: 5%;
	margin-bottom: 2%;
}

.left h6{
	display: inline;
	font-size: 2.75vw;
}

.left input{
	margin-top: 0%;
	font-size: 2vw;

	width: 40vw; 
	height: 2.5vw;

	color: rgb(55, 63, 81);
}

.left p{
	margin-top: 3vw;
	font-size: 2vw;
	color: rgb(245, 100, 118);
}

.left #username{
	display: inline;
	color: white;
}

.centered{
	margin-top: 0%;
	margin-left: 2vw;
	padding-top: 0%;
	align-content: center;
}


#answerQuestionsPage h2{
	text-align: center;
	font-size: 5.5vw;
}

#answerQuestionsPage p{
	display: inline;
	font-size: 2vw;

	margin-left: 2.5vw;
	margin-right: 2.5vw;
}

#answerQuestionsPage .options{
	text-align: center;
}

#answerQuestionsPage .options button{
	height: 19vw;
	width: 32vw;
	font-size: 3.5vw;
}

.options #option1{
	background-color: rgb(0, 122, 237);
	box-shadow: 0.5vw 0.5vw rgb(0, 101, 196);
}

.options #option2{
	background-color: rgb(245, 100, 118);
	box-shadow: 0.5vw 0.5vw rgb(228, 63, 111);
}

#answerQuestionsPage .navigation button{
	height: 5vw;
	width: 12vw;
	font-size: 3.5vw;
}

#answerQuestionsPage h6{
	display: inline;

	margin-left: 25vw;
	margin-right: 24vw;
}


#answerQuestionsPage .navigation{
	margin-top: 5.5vw;
	text-align: center;
}

.navigation #back{
	left: 0%;
}

.navigation #next{
	right: 0%;
}