body{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: rgb(55, 63, 81);
	margin: 0;
	margin-top: 0;
}

.split{
	height:100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
}

.left{
	left: 0%;
	background-color: rgb(55, 63, 81);
}

.right{
	padding-top: 2vw;
	right: 0%;
	background-color: white;
	align-content: center;
}

.right button{
	margin-left: 5vw;
	margin-top: 2.5vw;
	
	height: 18vw;
	width: 32vw;
	max-height: 140px;
	max-width: 280px;

	text-align: center;
	color: white;
	background-color: rgb(0, 122, 237);
	box-shadow: 0.5vw 0.5vw rgb(0, 101, 196);

	font-size: 3.5vw;
}

.left button{
	margin-top: 50px;

	height: 18vw;
	width: 32vw;
	max-height: 140px;
	max-width: 280px;
	
	color: white;
	background-color: rgb(245, 100, 118);
	box-shadow: 0.5vw 0.5vw rgb(228, 63, 111);

	font-size: 3.5vw;
}

h1{
	font-size: 6.5vw;
}

.left h2{
	font-size: 5.5vw;
	margin-bottom: 5%;
}

.left h5{
	font-size: 3.5vw;
	margin-top: 5%;
	margin-bottom: 2%;
}

.left h6{
	display: inline;
	font-size: 2.5vw;
}

.left input{
	margin-top: 0%;
	font-size: 2vw;

	width: 40vw; 
	height: 2.5vw;

	color: rgb(55, 63, 81);
}

.left p{
	display: inline;
	margin-top: 3vw;
	font-size: 2.5vw;
	color: rgb(245, 100, 118);
}


.left #menuUsername{
	display: inline;
	color: white;
}

.left #username{
	display: inline;
	color: white;
}

.centered{
	margin-top: 0%;
	margin-left: 3vw;
	padding-top: 0%;
	align-content: center;
}

/*
===========
			ANSWER QUESTIONS
===========
*/
#answerQuestionsPage h2{
	text-align: center;
	font-size: 5.5vw;
}

#answerQuestionsPage p{
	display: inline;
	font-size: 2vw;

	margin-left: 2.5vw;
	margin-right: 2.5vw;
}

#answerQuestionsPage .options{
	text-align: center;
	vertical-align: 0;
}

#answerQuestionsPage .options p{
	text-align: center;
	display: inline-block;
}

#answerQuestionsPage .options button{
	text-align: center;
	height: 19vw;
	width: 32vw;
	font-size: 3.5vw;
	color: rgb(55, 63, 81);
}

.options #option1{
	background-color: rgb(0, 122, 237);
	box-shadow: 0.5vw 0.5vw rgb(0, 101, 196);
}

.options #option2{
	background-color: rgb(245, 100, 118);
	box-shadow: 0.5vw 0.5vw rgb(228, 63, 111);
}

#answerQuestionsPage .navigation button{
	height: 5vw;
	width: 12vw;
	font-size: 3.5vw;
}

#answerQuestionsPage h6{
	display: inline;

	margin-left: 25vw;
	margin-right: 24vw;
}


#answerQuestionsPage .navigation{
	margin-top: 5.5vw;
	text-align: center;
}

.navigation #back{
	left: 0%;
}

.navigation #next{
	right: 0%;
}

/*
===========
			STATISTICS
===========
*/
#statisticsPage{
	margin-left: 20vw;
}

#statisticsPage h2{
	text-align: left;
	font-size: 5.5vw;
	margin-top: 20px;
	margin-bottom: 0vw;
	padding-bottom: 0vw;
}

#statisticsPage table,tr,th{
	border: 1px solid white;
	border-collapse: collapse;

	text-align: center;
	font-size: 3.5vw;
	color: rgb(55, 63, 81);

	padding-left: 8vw;
	padding-right: 8vw;
}

#statisticsPage thead tr th button{
	padding-top:0px;
	margin-top:0px;
	font-size: 2vw;
	height: 2.5vw;
	width: 3.5vw;
}

#statisticsPage table thead, tbody{
	display: block;
}

#statisticsPage table, tbody{
	
	height: 26vw;
    overflow-y: auto;    /* Trigger vertical scroll    */
	overflow-x: hidden;  /* Hide the horizontal scroll */
}

#statisticsPage table,tr,td{
	border: 1px solid white;
	border-collapse: collapse;

	text-align: left;
	height:3.3vw;
	width:30vw;
	font-size: 2.7vw;
	color: white;

	padding-left: 1vw;
}

#statisticsPage .navigation{
	margin-top:1vw;
}

#statisticsPage .navigation button{
	height: 5vw;
	width: 13vw;
	font-size: 3.5vw;
	color: rgb(55, 63, 81);
}

#statisticsPage .navigation #back{
	background-color: rgb(245, 100, 118);
	box-shadow: 0.5vw 0.5vw rgb(228, 63, 111);
}

/*
===========
			CREATE QUESTIONS
===========
*/

#createQuestionsPage{
	margin-left: 20vw;
}

#createQuestionsPage h2{
	text-align: left;
	font-size: 5.5vw;
	margin-top: 20px;
	margin-bottom: 0vw;
	padding-bottom: 0vw;
}


#createQuestionsPage h5{
	text-align: left;
	font-size: 3.5vw;
	margin-top: 1vw;
	margin-bottom: 0vw;
}

#createQuestionsPage textarea{
	margin-top: 1vw;
	margin-bottom: 0vw;
	font-size: 2vw;
	height: 2.6vw;
	width: 55vw; 

	color: rgb(55, 63, 81);
	resize: none;
}

#createQuestionsPage #option1Input{
	height: 4.8vw;
}

#createQuestionsPage #option2Input{
	height: 4.8vw;
}

#createQuestionsPage .navigation{
	margin-top:1vw;
}

#createQuestionsPage .navigation button{
	height: 5vw;
	width: 13vw;
	font-size: 3.5vw;
	color: rgb(55, 63, 81);
}

#createQuestionsPage .navigation #back{
	background-color: rgb(245, 100, 118);
	box-shadow: 0.5vw 0.5vw rgb(228, 63, 111);
}

#createQuestionsPage .navigation #submit{
	background-color: rgb(0, 122, 237);
	box-shadow: 0.5vw 0.5vw rgb(0, 101, 196);
}

#createQuestionsPage .navigation h6{
	display: inline;
	margin-right: 29vw;
}