body{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin: 0;
	margin-top: 0;
}

.split{
	height:100%;
	width: 47%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
}

.left{
	left: 0%;
	background-color: rgb(55, 63, 81);
}

.right{
	padding-top: 2vw;
	right: 0%;
	background-color: white;
	align-content: center;
}

.right button{
	margin-left: 4vw;
	margin-top: 3vw;
	height: 20vw;
	width: 33vw;

	max-height: 140px;
	max-width: 280px;

	text-align: center;
	color: white;
	background-color: rgb(0, 122, 237);
	font-size: 3.5vw;
}

.left button{
	margin-top: 50px;

	height: 20vw;
	width: 33vw;
	max-height: 140px;
	max-width: 280px;
	
	color: white;
	background-color: rgb(245, 100, 118);
	
	font-size: 3.5vw;
}

h1{
	font-size: 7vw;
}

.left h2{
	font-size: 5.5vw;
	margin-bottom: 5%;
}

.left h5{
	font-size: 4vw;
	margin-top: 5%;
	margin-bottom: 2%;
}

.left input{
	margin-top: 0%;
	font-size: 2vw;

	width: 40vw; 
	height: 2.5vw;
}

.left p {
	font-size: 2vw;
	color: rgb(245, 100, 118);
}

.centered{
	margin-top: 0%;
	margin-left: 2vw;
	padding-top: 0%;
	align-content: center;
}